Temp.log
Temp.pdf
Temp.tex
Temp.aux
test.log
test.pdf
test.tex
test.aux
__pycache__/
dist/
env/
Picture/
window.spec
build
software/
window/
Macro.docx
Official_word_2_tex.tex
MauDe/
main.pyo
readdocx.pyo
readlatex.pyo
main.pyo
